<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.notadeveloper.app.sgnadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name="com.notadeveloper.app.sgnadmin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.notadeveloper.app.sgnadmin.AddProductActivity" />
        <activity android:name="com.notadeveloper.app.sgnadmin.EditActivity" />
        <activity android:name="com.notadeveloper.app.sgnadmin.DisplayCategories" />
        <activity android:name="com.notadeveloper.app.sgnadmin.DisplayProducts" />
        <activity android:name="com.notadeveloper.app.sgnadmin.Cart">
        </activity>
        <activity android:name="com.notadeveloper.app.sgnadmin.Myorders">
        </activity>
        <activity android:name="com.notadeveloper.app.sgnadmin.DisplayPrescription"
                  android:theme="@style/Slide">
        </activity>
    </application>

</manifest>